<div class="row">
  <div>
    <h2>T01</h2>
    <p>Affichage de données. Application d'un délai de deux (2) secondes avant d'afficher le contenu de la liste. Limitation à l'affichage de trois (3) enregistrements.</p>
    <ul>
      <li *ngFor="let x of (dataList62 | async) | slice:0:3">{{ x.city }}</li>
    </ul>
  </div>
  <div class="code-preview">
    <h3>t01.component.html</h3>
    <iframe src="assets/code-preview/t01/html.txt"></iframe>
    <h3>t01.component.ts</h3>
    <iframe src="assets/code-preview/t01/typescript.txt"></iframe>
    <h3>module01.service.ts</h3>
    <iframe src="assets/code-preview/module01/typescript.txt"></iframe>
  </div>
</div>
