<div class="row">
  <div>
    <h2>T07</h2>
    <p>Affichage de documents externes.</p>
    <div class="controls">
      <button (click)="displayHTML('aide001')">aide001</button>
      <button (click)="displayHTML('aide002')">aide002</button>
      <button (click)="displayHTML('aide003')">aide003</button>
      <button (click)="displayHTML('aide004')">aide004</button>
    </div>
    <div class="message">
      <div class="htmldata" [innerHtml]="htmlData38"></div>
    </div>
  </div>
  <div class="code-preview">
    <h3>t07.component.html</h3>
    <iframe src="assets/code-preview/t07/html.txt"></iframe>
    <h3>t07.component.ts</h3>
    <iframe src="assets/code-preview/t07/typescript.txt"></iframe>
  </div>
</div>
