<div class="row">
  <div>
    <h2>T15</h2>
    <p>Sélection de données spécifiques dans un fichier JSON.</p>
    <h3>response21.main.*</h3>
    <code>{{ processData21 | json }}</code>
    <h3>response22.records</h3>
    <code>{{ processData22a | json }}</code>
    <h3>response22.records</h3>
    <code>{{ processData22b | json }}</code>
  </div>
  <div class="code-preview">
    <h3>t15.component.html</h3>
    <iframe src="assets/code-preview/t15/html.txt"></iframe>
    <h3>t15.component.ts</h3>
    <iframe src="assets/code-preview/t15/typescript.txt"></iframe>
  </div>
</div>
