<div>
  <a routerLink="/accueil" routerLinkActive="active">Accueil</a> |
  <a routerLink="/t01" routerLinkActive="active">T01</a> |
  <a routerLink="/t02" routerLinkActive="active">T02</a> |
  <a routerLink="/t03" routerLinkActive="active">T03</a> |
  <a routerLink="/t04" routerLinkActive="active">T04</a> |
  <a routerLink="/t05" routerLinkActive="active">T05</a> |
  <a routerLink="/t06" routerLinkActive="active">T06</a> |
  <a routerLink="/t07" routerLinkActive="active">T07</a> |
  <a routerLink="/t08" routerLinkActive="active">T08</a> |
  <a routerLink="/t09" routerLinkActive="active">T09</a> |
  <a routerLink="/t10" routerLinkActive="active">T10</a> |
  <a routerLink="/t11" routerLinkActive="active">T11</a> |
  <a routerLink="/t12" routerLinkActive="active">T12</a> |
  <a routerLink="/t13" routerLinkActive="active">T13</a> |
  <a routerLink="/t14" routerLinkActive="active">T14</a> |
  <a routerLink="/t15" routerLinkActive="active">T15</a> |
  <a routerLink="/t16" routerLinkActive="active">T16</a>
</div>
