<div class="row">
  <div>
    <h2>T14</h2>
    <p>Sélection de données spécifiques dans un fichier JSON.</p>
    <h3>data30</h3>
    <p>{{ test21 | json }}</p>
    <h3>data30.records</h3>
    <p>{{ test22 | json }}</p>
    <h3>data30.records.find(item => item.id === 12)</h3>
    <p>{{ test23 | json }}</p>
  </div>
  <div class="code-preview">
    <h3>t14.component.html</h3>
    <iframe src="assets/code-preview/t14/html.txt"></iframe>
    <h3>t14.component.ts</h3>
    <iframe src="assets/code-preview/t14/typescript.txt"></iframe>
  </div>
</div>
