<div class="row">
  <div>
    <h2>T12</h2>
    <p>Filtrage de données à partir d'un menu déroulant.</p>
    <div class="form04">
      <select [(ngModel)]="brandModel" (change)="selectBrand()">
        <option *ngFor="let item of brandName">{{ item }}</option>
      </select>
      <button type="button" (click)="resetList()">Réinitialiser</button>
      <div *ngFor="let item of goods">
        <app-goods [goodsData]="item"></app-goods>
      </div>
    </div>
  </div>
  <div class="code-preview">
    <h3>t12.component.html</h3>
    <iframe src="assets/code-preview/t12/html.txt"></iframe>
    <h3>t12.component.ts</h3>
    <iframe src="assets/code-preview/t12/typescript.txt"></iframe>
    <h3>module03.service.ts</h3>
    <iframe src="assets/code-preview/module03/typescript.txt"></iframe>
  </div>
</div>
