<div class="row">
  <div>
    <h2>T02</h2>
    <p>Programmation d'un Pipe personnalisé.</p>

    <h3>Affichage du contenu complet du JSON</h3>
    <code [innerHTML]="data84" class="message23"></code>
    <h3>Affichage du contenu complet du JSON transformé</h3>
    <code [innerHTML]="data84 | transform01" class="message23"></code>

  </div>
  <div class="code-preview">
    <h3>t02.component.html</h3>
    <iframe src="assets/code-preview/t02/html.txt"></iframe>
    <h3>t02.component.ts</h3>
    <iframe src="assets/code-preview/t02/typescript.txt"></iframe>
    <h3>transform01.pipe.ts</h3>
    <iframe src="assets/code-preview/transform01/typescript.txt"></iframe>
  </div>
</div>
